asgiref @ file:///Users/cbousseau/work/recipes/ci_py311/asgiref_1677957028708/work
Django @ file:///Users/cbousseau/work/recipes/ci_py311/django_1677970851911/work
django-phone-field==1.8.1
Pillow==9.4.0
sqlparse @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_16ptvrhamb/croot/sqlparse_1690901943673/work
