{% extends 'index.html' %}
{% block content %}
<br><br><br>
<center>
<div class="container">
  <h1>Cancel this flight booking ...?</h1>
</div></center><br><br>
{% for i in Flight %}
<div class="container">
  <div class="ticket shadow-lg p-3 mb-5">
    <div class="row bg1">
      <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ i.company }}-</h3><h4>{{i.flight_num}}</h4>
    </div>
    <div class="row bg1">
      <p class="seatrem">Seats: {{seat}}</p>
    <p class="from">FROM: <br>{{ i.source }} </p>
    <p class="to">TO:<br>{{i.destination}}</p>
    <p class="dept">DEPT TIME:<br> {{ i.dept_time}}</p>
    <p class="dest">DEST TIME: <br>{{ i.dest_time}}</p>
    <p class="eprice">{{pricef}}*</p>
    </div>
  </div>
</div>
<br><br>
{% endfor %}
{% for j in Hotel %}
<div class="hotel">
  <div class="container">
    <div class="row shadow-lg p-3 mt-5 mb-5 rounded">
      <div class="col-md-4 ">
        <img class="h-img shadow-lg" src="/media/{{ j.image1 }}" alt="image">
      </div>
      <div class="col-md-8">
        <p class="roomrem">Booked Rooms:{{ room }}</p>
        <p class="h-name">{{j.hotel_name}}</p>
        <p class="h-add">{{j.hotel_address}}.<br>{{ j.distfromap }} KM from nearest airport.</p>
        <p class="h-price">{{ priceh }}*</p>
        <p class="h-pricex">/night</p>
        <p class="h-am">{{ j.amenities}}</p>
        <div class="h-rate">
        {% with ''|center:j.hotel_rating as range %}
          {% for _ in range %}
              ★
          {% endfor %}
        {% endwith %}
        </div>
      </div>
    </div>
<br><br>
{% endfor %}
{% for i in Flight %}
{% for j in Hotel %}
<a href="/concanpackage/{{i.flight_num}}/{{ seat }}/{{ j.hotel_name }}/{{ date }}/{{ room }}" class="btn btn-primary">C A N C E L</a>
{% endfor %}
{% endfor %}
<br><br><br><br>
{% endblock %}
