<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styleone.css" %}">
  </head>
  <body>
{% block content %}
<div class="fd">
  <br><br><br>
<div class="container form">
  <h1 class="tr">PACKAGES</h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
  <form class="form-group" action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">SEARCH</button>
  </form></div>
  <div class="col-md-3"></div>
</div>
</div>
</div><br><br>
<h1 class="t">FLIGHTS</h1>

<div class="main">
  <br><br>
{% for i in Flights %}

<div class="container">
  <div class="ticket shadow-lg p-3 mb-5">
    <div class="row bg1">
      <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ i.company }}-</h3><h4>{{i.flight_num}}</h4>
    </div>
    <div class="row bg1">
    <p class="from">FROM: <br>{{ i.source }} </p>
    <p class="to">TO:<br>{{i.destination}}</p>
    <p class="dept">DEPT TIME:<br> {{ i.dept_time}}</p>
    <p class="dest">DEST TIME: <br>{{ i.dest_time}}</p>
    <p class="eprice">{{ i.eprice}}*</p>
    </div>
  </div>
</div>
{% endfor %}
</div><br><br><br><br>

<h1 class="t">HOTELS</h1>
{% for j in Hotels %}

<div class="hotel">
  <div class="container">
    <div class="row shadow-lg p-3 mt-5 mb-5 rounded">
      <div class="col-md-4 ">
        <img class="h-img shadow-lg" src="/media/{{ j.image1 }}" alt="image">
      </div>
      <div class="col-md-8">
        <p class="h-name">{{j.hotel_name}}</p>
        <p class="h-add">{{j.hotel_address}}.<br>{{ j.distfromap }} KM from nearest airport.</p>
        <p class="h-price">{{ j.hotel_price }}*</p>
        <p class="h-pricex">/night</p>
        <p class="h-am">{{ j.amenities}}</p>
        <div class="h-rate">
        {% with ''|center:j.hotel_rating as range %}
          {% for _ in range %}
              ★
          {% endfor %}
        {% endwith %}
        </div>
      </div>
    </div>
  </div>
  </div>

{% endfor %}<br><br><br><br>
<h2 class="trr">Places</h2>
<div class="container">
{% for k in Famplace %}
<!-- <tr>
  <td width="200"><center><img src="/media/{{ k.image }}" alt="image"></center></td>
  <td width="150" height="100"><center>{{ k.city }}</center></td>
  <td width="200"><center>{{k.place_name}}</center></td>
  <td width="200"><center>{{k.desc}}</center></td>
</tr> -->
<div class="row mt-5 mb-5 fly-box">
  <div class="col-md-1"></div>
  <div class="col-md-4 shadow-lg p-3 rounded p-box">
    <img class="p-img" src="/media/{{ k.image }}" alt="image">
  </div>
  <div class="col-md-6 shadow-lg p-3 desc rounded">
    <h2>{{k.place_name}}</h2>
    <p>{{k.desc}}</p>
  </div>
  <h1 class="fly">{{k.place_name}}</h1>
</div>

{% endfor %}
</div>


<a href="/bookpackage/{{ source }}/{{ city }}/{{ date }}" class="btn btn-primary p-10" >Book Package</a><br><br><br>

{% endblock %}

</body>
</html>
